<% layout("/layouts/boilerplate") %>
    <h1>Show</h1>
    <video id="videoPlayer" controls width="600">
        <source src="<%=showVideo.video.url.replace('watch?v=','embed/')%>">
    </video>
<!-- 
    <iframe src="<%=showVideo.video.url.replace('watch?v=','embed/')%>" frameborder="0" height="350" width="600" allowfullscreen></iframe> -->
    <p><b><%=showVideo.title%></b></p>
    <form action="/home/edit/<%=showVideo._id%>">
                <button class="mb-2">Edit</button>
            </form>
            <form action="/home/<%=showVideo._id%>?_method=DELETE" method="POST">
                <button class="mb-2">Delete</button>
            </form>

    <div class="mt-4">
        <h4>All Videos</h4>
        <%for(let video of allVideos){%>
            <a href="/home/<%=video._id%>">
            <img src="<%=video.thumbnail%>" alt="videoThumbnail">
            <p><%=video.title%></p>
            </a>
            <%}%>
        
    </div>
