<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show</h1>
    <video id="videoPlayer" controls width="600">
        <source src="<%=showVideo.video.url.replace('watch?v=','embed/')%>">
    </video>
<!-- 
    <iframe src="<%=showVideo.video.url.replace('watch?v=','embed/')%>" frameborder="0" height="350" width="600" allowfullscreen></iframe> -->
    <p><%=showVideo.title%></p>

    <div>
        <h4>All Videos</h4>
        <%for(let video of allVideos){%>
            <a href="/home/show/<%=video._id%>">
            <img src="<%=video.thumbnail%>" alt="videoThumbnail">
            <p><%=video.title%></p>
            </a>
            <%}%>
        
    </div>
</body>
</html>