<% layout("/layouts/boilerplate") %>
    <h1>Show</h1>
    <video id="videoPlayer" controls width="600">
        <source src="<%=showVideo.video.url.replace('watch?v=','embed/')%>">
    </video>
<!-- 
    <iframe src="<%=showVideo.video.url.replace('watch?v=','embed/')%>" frameborder="0" height="350" width="600" allowfullscreen></iframe> -->
    <p><%=showVideo.title%></p>
    <form action="/home/show/edit/<%=showVideo._id%>">
                <button>Edit</button>
            </form>
            <form action="/home/show/<%=showVideo._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>

    <div>
        <h4>All Videos</h4>
        <%for(let video of allVideos){%>
            <a href="/home/show/<%=video._id%>">
            <img src="<%=video.thumbnail%>" alt="videoThumbnail">
            <p><%=video.title%></p>
            </a>
            <%}%>
        
    </div>
